<div class="carousel-fulid bg-3 text-center content-padding contact">
  <div class="row">
    <div class="col-sm-12">
      <app-carousel></app-carousel>
    </div>
  </div>
  <div class="container">
    <div class="row animated fadeInUp" style='margin-top:3px;'>
      <div class="col-sm-12">
        <div class="page-header text-left text-danger">
          <h2>
            <strong>Our Food</strong>
          </h2>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">

        <p class="text-justify">
          We are proud to offer 100% authentic, delicious South Indian cuisine made from scratch daily, and we work hard to ensure
          that only the highest quality ingredients and flavors reach your plate!
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="./assets/images/ourstory.jpeg" class="home-img img-circle" />
      </div>
    </div>
    <div class="row animated fadeInDown" style='margin-top:3px;'>
      <div class="col-sm-12">
        <div class="page-header text-left text-danger">
          <h2>
            <strong>Our Chefs</strong>
          </h2>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="./assets/images/chef.jpeg" class="home-img img-circle" alt="chef" />
      </div>
      <div class="col-sm-8">

        <p class="text-justify">
          Meet chefs and owners, Prasuna Tarugu and Prasuna Neelapareddy! We love what we do, and we hope it shines through in all
          of our home-cooked meals!


        </p>
      </div>

    </div>

    <div class="row animated fadeInDown" style='margin-top:3px;'>
      <div class="col-sm-12">
        <div class="page-header text-left text-danger">
          <h2>
            <strong>Our Story</strong>
          </h2>
        </div>
      </div>
      <div class="col-md-8 col-sm-8">

        <p class="text-justify">
          Prasuna & Prasuna have been best friends for close to a decade. We do everything together, so when the time came, it only
          made sense that we open a kitchen together, too!
        </p>
        <p class="text-justify">


          We immigrated to America from South India in the 1990s. So far from home, we realized just how much comfort and love a simple
          home-cooked meal can give. We are so excited and honored to be able to give this gift to each and every one of
          our customers. We serve the freshest, most authentic, and most flavorful dishes, desserts, and snacks we possibly
          can-- come in and have a taste!
        </p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="./assets/images/ourstory.jpeg" class="home-img img-circle" />
      </div>

    </div>
  </div>